<% javascript_include_tag "cryptos.js", "businesses.js" %>

<% if params[:offer_discounts] %>
  <h1>We offer discounts for crypto payments!</h1>
<% else %>
  <h1>List of All Businesses</h1>
<% end %>

<div class="results">
  <ul>
    <% @businesses.each do |b| %>
      <li><%= link_to "#{b.name}", biz_path(b) %></li>
    <% end %>
  </ul>
</div>

<div class="filter-businesses">
  <label>Filter by crypto: </label>
  <form id="filter">
  <input id="selected-coin" type="text" list="coins">
  <datalist id="coins" multiple>
    <% Crypto.order_by_name.each do |crypto| %>
      <option value="<%= crypto.name %>" data-id="<%= crypto.id %>" data-symbol="<%= crypto.symbol %>"></option>
      <% # JS display on page, then add another field %>
    <% end %>
  </datalist>
  <input type="submit" value="Search">
  </form>
</div>
