<button id="comment-btn">Add Comment</button>
<a id="load-comments" href="#">Load Comments</a>
<div id="comment-section" data-review-id="<%= review.id %>" data-business-id="<%= review.business_id %>">
  <div class="content">
    <div class="user" data-id="<%= current_user.id %>">

    </div>
  </div>
</div>


<% # render 'form', :review => review %>
